In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import itertools

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/Colab Notebooks/WebAnalytics/Spotify

/content/drive/MyDrive/Colab Notebooks/WebAnalytics/Spotify

In [ ]:
data = pd.read_csv('song_feat_top.csv').drop('Unnamed: 0',axis =1)
data

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,id,duration_ms,time_signature,country,popularity,release_date
0,0.714,0.472,2,-7.375,1,0.0864,0.01300,0.000005,0.2660,0.2380,131.121,3nqQXoyQOWXiESFLlDF1hG,156943,4,Global,100,2022-09-22
1,0.336,0.627,7,-7.463,1,0.0384,0.16400,0.000000,0.0708,0.3500,150.273,0bYg9bo50gSsH3LtXe2SQn,241107,4,Global,91,1994-10-28
2,0.637,0.643,4,-6.571,1,0.0519,0.13000,0.000002,0.1420,0.5330,97.008,0V3wPSX9ygBnCm8psDIegu,200690,4,Global,97,2022-10-21
3,0.735,0.478,2,-12.472,1,0.0293,0.18900,0.000002,0.3550,0.9470,107.682,2FRnf9qhLbvw8fu4IBXx78,262960,4,Global,87,1984-11-29
4,0.835,0.679,7,-5.329,0,0.0364,0.58300,0.000002,0.2180,0.8500,124.980,5ww2BF9slyYgNOk37BlC4u,162638,4,Global,97,2022-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3436,0.514,0.730,1,-5.934,1,0.0598,0.00146,0.000095,0.0897,0.3340,171.005,0VjIjW4GlUZAMYd2vXMi3b,200040,4,EAU,90,2020-03-20
3437,0.247,0.299,9,-6.083,1,0.0315,0.89900,0.000000,0.1310,0.1720,177.115,6sCvvleqKbeyOkQDieBYgp,196520,4,EAU,76,2022-11-11
3438,0.486,0.545,11,-7.924,1,0.0336,0.06520,0.004740,0.0642,0.0385,150.187,4FyesJzVpA39hbYvcseO2d,123891,4,EAU,89,2022-10-17
3439,0.963,0.905,7,-4.053,1,0.1170,0.65400,0.048100,0.1070,0.5940,123.998,7twsd0lwXyy0ARdsTyzHoJ,178530,4,EAU,77,2022-11-18
3440,0.768,0.714,10,-5.110,1,0.0401,0.35200,0.000000,0.1500,0.8420,131.443,4h4QlmocP3IuwYEj2j14p8,163026,4,EAU,89,2021-12-03

## Steps:

> For release date, only keep year

> Normalize the data for numerical features

In [ ]:
#@title Keep only the year
data['release_year'] = data['release_date'].map(lambda x: x.split('-')[0]).astype(int)
data.drop('release_date', axis = 1, inplace = True)

In [ ]:
data

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,id,duration_ms,time_signature,country,popularity,release_year
0,0.714,0.472,2,-7.375,1,0.0864,0.01300,0.000005,0.2660,0.2380,131.121,3nqQXoyQOWXiESFLlDF1hG,156943,4,Global,100,2022
1,0.336,0.627,7,-7.463,1,0.0384,0.16400,0.000000,0.0708,0.3500,150.273,0bYg9bo50gSsH3LtXe2SQn,241107,4,Global,91,1994
2,0.637,0.643,4,-6.571,1,0.0519,0.13000,0.000002,0.1420,0.5330,97.008,0V3wPSX9ygBnCm8psDIegu,200690,4,Global,97,2022
3,0.735,0.478,2,-12.472,1,0.0293,0.18900,0.000002,0.3550,0.9470,107.682,2FRnf9qhLbvw8fu4IBXx78,262960,4,Global,87,1984
4,0.835,0.679,7,-5.329,0,0.0364,0.58300,0.000002,0.2180,0.8500,124.980,5ww2BF9slyYgNOk37BlC4u,162638,4,Global,97,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3436,0.514,0.730,1,-5.934,1,0.0598,0.00146,0.000095,0.0897,0.3340,171.005,0VjIjW4GlUZAMYd2vXMi3b,200040,4,EAU,90,2020
3437,0.247,0.299,9,-6.083,1,0.0315,0.89900,0.000000,0.1310,0.1720,177.115,6sCvvleqKbeyOkQDieBYgp,196520,4,EAU,76,2022
3438,0.486,0.545,11,-7.924,1,0.0336,0.06520,0.004740,0.0642,0.0385,150.187,4FyesJzVpA39hbYvcseO2d,123891,4,EAU,89,2022
3439,0.963,0.905,7,-4.053,1,0.1170,0.65400,0.048100,0.1070,0.5940,123.998,7twsd0lwXyy0ARdsTyzHoJ,178530,4,EAU,77,2022
3440,0.768,0.714,10,-5.110,1,0.0401,0.35200,0.000000,0.1500,0.8420,131.443,4h4QlmocP3IuwYEj2j14p8,163026,4,EAU,89,2021

In [ ]:
#@title Normalize
num = data.select_dtypes(['float64', 'int64']).columns.tolist()
num_data = data[num]

scaler = StandardScaler()
num_data = scaler.fit_transform(num_data)

num_data = pd.DataFrame(num_data, columns = num)

In [ ]:
data = pd.concat([num_data, data['id'], data['country']], axis = 1)
data.set_index('id', inplace = True)

In [ ]:
data

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,popularity,release_year,country
id,,,,,,,,,,,,,,,,
3nqQXoyQOWXiESFLlDF1hG,0.327004,-0.926473,-0.870376,-0.224506,0.814323,-0.069349,-1.054442,-0.159212,0.623427,-1.228288,0.224599,-0.856768,0.237077,1.547618,0.394116,Global
0bYg9bo50gSsH3LtXe2SQn,-2.135443,-0.012941,0.525617,-0.256384,0.814323,-0.598762,-0.484355,-0.159267,-0.845392,-0.739633,0.854142,0.891894,0.237077,0.936305,-1.736168,Global
0V3wPSX9ygBnCm8psDIegu,-0.174605,0.081359,-0.311979,0.066740,0.814323,-0.449865,-0.612719,-0.159245,-0.309635,0.058794,-0.896727,0.052156,0.237077,1.343847,0.394116,Global
2FRnf9qhLbvw8fu4IBXx78,0.463807,-0.891110,-0.870376,-2.070877,0.814323,-0.699130,-0.389970,-0.159237,1.293124,1.865073,-0.545863,1.345931,0.237077,0.664610,-2.496983,Global
5ww2BF9slyYgNOk37BlC4u,1.115248,0.293534,0.525617,0.516650,-1.228014,-0.620821,1.097543,-0.159243,0.262242,1.441863,0.022738,-0.738444,0.237077,1.343847,0.394116,Global
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0VjIjW4GlUZAMYd2vXMi3b,-0.975878,0.594115,-1.149575,0.297491,0.814323,-0.362732,-1.098010,-0.158103,-0.703176,-0.809441,1.535622,0.038652,0.237077,0.868381,0.241953,EAU
6sCvvleqKbeyOkQDieBYgp,-2.715225,-1.946092,1.084015,0.243516,0.814323,-0.674865,2.290574,-0.159267,-0.392406,-1.516246,1.736463,-0.034483,0.237077,-0.082551,0.394116,EAU
4FyesJzVpA39hbYvcseO2d,-1.158281,-0.496229,1.642413,-0.423380,0.814323,-0.651703,-0.857366,-0.101455,-0.895055,-2.098705,0.851316,-1.543485,0.237077,0.800458,0.394116,EAU
7twsd0lwXyy0ARdsTyzHoJ,1.949092,1.625521,0.525617,0.978876,0.814323,0.268151,1.365597,0.427391,-0.572999,0.324937,-0.009541,-0.408259,0.237077,-0.014627,0.394116,EAU
4h4QlmocP3IuwYEj2j14p8,0.678782,0.499815,1.363214,0.595982,0.814323,-0.580012,0.225423,-0.159267,-0.249437,1.406959,0.235183,-0.730383,0.237077,0.800458,0.318035,EAU

# Calculating a country playlist vector

In [ ]:
#Create a df where each row is a country, and the columns are the sum of features for all songs in its top50 playlist
countries = data.country.unique()  
feat = list(data.columns)
feat.remove('country')

In [ ]:
#We use sum because cosine distance is independent of the magnitude of the vector, only the orientation
cd = {}
for i in countries:
  tmp = data[data.country == i]
  cd[i] = (list(tmp.iloc[:, :-1].sum()))

In [ ]:
country_df = pd.DataFrame(cd)
country_df = country_df.transpose()
country_df.columns = feat

In [ ]:
country_df

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,popularity,release_year
Global,-8.665130,-9.853109,-5.547788,-7.331899,8.038771,-12.855719,5.320522,-4.924578,5.629543,-5.203381,3.394756,-4.190716,-8.911512,36.830463,-13.085344
Taiwán,-27.328914,-3.835590,6.736959,6.722901,16.208118,-21.249110,9.473438,-7.872834,-8.243727,-23.732135,1.493338,37.026839,8.887373,-27.561216,12.554144
Turquía,-12.215484,-1.808140,4.503369,-28.287856,-34.850303,0.527384,-2.857286,17.659734,-2.736407,-16.349080,-23.208497,-21.121295,17.786815,-11.055754,13.923612
Reino Unido,-22.351905,5.258467,0.873784,-5.839081,20.292792,-7.414904,0.966339,-0.409235,8.655221,12.135148,10.861351,4.051004,-2.978550,16.453350,-33.018715
Dinamarca,-26.638386,-11.379590,-12.806957,-15.645455,26.419802,-22.854994,7.403984,-7.900921,1.342727,10.492046,-4.586105,14.750169,-0.012069,-42.844051,-54.321554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Suriname,25.226776,14.849907,5.685724,12.684218,-18.097918,20.965737,-22.010205,-4.906902,-7.038285,17.102191,-6.728943,-17.633373,2.480257,-30.928147,18.917579
La República Checa,-17.212036,-2.132296,-8.060577,-17.754091,-0.130577,-10.147995,-0.257631,-1.870896,7.732694,1.395208,9.005887,-7.479920,-2.978550,-15.946261,-22.519459
Guatemala,30.642817,11.446905,-0.801408,24.240415,-8.299924,2.861210,-9.967295,-6.732302,-0.734840,6.089787,-11.507733,-2.247478,-14.844473,31.124872,16.129978
Eslovaquia,-15.537832,-4.336558,-0.801408,-11.709647,-0.130577,4.002755,-5.798484,-1.241834,-3.374501,-0.472153,8.699300,-13.850332,-5.945031,-7.252026,-20.769582
EAU,-14.567185,-0.464364,5.340965,5.967255,16.208118,-11.387702,-0.972185,-3.130924,0.372795,-16.479534,6.998066,2.872520,-2.978550,33.841820,8.369658

# Calculating Similarity

Once we have our dataset in a suitbale form, we must determine a single playlist vector, and compare with the other songs to see which are most similar.

This will be done using cosine similarity. The lower the score, the better!

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

#want to find most similar country to Spain
c1 = pd.DataFrame(country_df.loc["España"])
c1 = np.transpose(c1)

res = cosine_similarity(country_df, c1)


res = list(map(lambda x: x[0], res))

sorted = [i for i in res]
sorted.sort()

#The one with least distance is itself, so omit
top_5 = sorted[-6:-1]

ids = []
for i in top_5:
  id = np.where(res == i)
  ids.append(id[0][0])


country_df.iloc[ids,:]

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,popularity,release_year
Paraguay,31.750267,12.690486,2.269778,25.805320,-14.426934,18.032182,-11.246782,-5.763965,-6.909600,-5.685928,-8.867180,-2.516767,5.920892,29.630550,17.879854
Argentina,27.737391,10.651249,-1.639005,22.333912,-12.384598,19.820052,-10.318030,-5.889628,-1.398517,11.670054,-18.967327,-13.732589,5.920892,11.359071,19.021077
Colombia,35.939032,15.708086,-1.918204,31.993938,-12.384598,18.610124,-12.247644,-7.175988,-3.444480,7.093275,-1.568029,0.473750,11.853854,20.121230,16.282141
Perú,31.528777,20.034099,-3.314198,33.867839,-20.553945,15.464533,-20.111149,-7.164476,-6.182715,1.443201,-8.452546,0.756855,11.853854,31.328643,17.499446
Bolivia,29.287820,13.886918,-6.106186,31.112955,-22.596282,14.148722,-16.602960,-5.736879,-4.436234,2.638660,-10.081793,-4.316624,8.887373,29.630550,17.651609

### Similarity Dataframe

In [ ]:
#For our visualizations, we want to have a matrix with the similarity between all countries
# The result is a mtrix with columns Origin, Destination, Similarity
from sklearn.model_selection import ParameterGrid
param_grid = ParameterGrid({'Origin': countries, 'Dest': countries, 'Similarity': [0]})

country_similarity_df = pd.DataFrame(list(param_grid))

for i in range(len(country_similarity_df)):
  c1 = pd.DataFrame(country_df.loc[country_similarity_df.loc[i, 'Origin']]).transpose()
  c2 = pd.DataFrame(country_df.loc[country_similarity_df.loc[i, 'Dest']]).transpose()
  country_similarity_df.loc[i, 'Similarity'] = cosine_similarity(c1,c2)[0]

country_similarity_df

In [ ]:
country_similarity_df.to_csv('/content/drive/MyDrive/Colab Notebooks/WebAnalytics/Spotify/country_similarity.csv', index = False)

# Recommending songs for each country

Now, for each country we will be recommending 25 new songs that could possibly fit the countries musical tastes. For this, we will be using both songs from other Top50 playlists, and that info collected from public playlists (removing info concerning mood).

We will perform the same transformations that in the latter dataset; extract the release year and normalize numerical values.

Also, we will remove duplicates!


>Programatically, we find the ids of the recommended songs, and from here we will create the database with its Title and Artists for easier visualization.

### Getting recommended song ids

#### First we create the database of songs we will recommend from

In [ ]:
### ------------MOODS------------ ###
data_moods = pd.read_csv('song_feat_moods.csv').drop('Unnamed: 0',axis =1)

#Extract year
data_moods['release_year'] = data_moods['release_date'].map(lambda x: x.split('-')[0]).astype(int)
data_moods.drop('release_date', axis = 1, inplace = True)

#Normalize
num = data_moods.select_dtypes(['float64', 'int64']).columns.tolist()
num_data = data_moods[num]

scaler = StandardScaler()
num_data = scaler.fit_transform(num_data)

num_data = pd.DataFrame(num_data, columns = num)

#Combine
data_moods = pd.concat([num_data, data_moods['id']], axis = 1)


### ------------TOPS------------ ###
data_tops = data = pd.read_csv('song_feat_top.csv').drop('Unnamed: 0',axis =1)

#Extract year
data_tops['release_year'] = data_tops['release_date'].map(lambda x: x.split('-')[0]).astype(int)
data_tops.drop('release_date', axis = 1, inplace = True)

#Normalize
num = data_tops.select_dtypes(['float64', 'int64']).columns.tolist()
num_data = data_tops[num]

scaler = StandardScaler()
num_data = scaler.fit_transform(num_data)

num_data = pd.DataFrame(num_data, columns = num)

#Combine
data_tops = pd.concat([num_data, data_tops['country'], data_tops['id']], axis = 1)


### ------------ ALL ------------ ###
data_tot = pd.concat([data_tops, data_moods], axis = 0)
data_tot = data_tot.drop_duplicates(subset='id', keep="last")
data_tot.iloc[:,:-2]
# data_tot.drop('id', axis = 1)

In [ ]:
# For each country: 
#     - recall its country playlist vector
#     - filter data_tot as to not include songs from that country
#     - compute similarity and keep only 25 best

rec_per_country = {}
sim_per_country =  []
for c in countries:
  #Retrieve data
  country_vector = pd.DataFrame(country_df.loc[c]).transpose()
  tmp = data_tot[data_tot.country != c]

  #Compute similarities and sort them
  res = list(cosine_similarity(country_vector, tmp.iloc[:,:-2])[0])

  sorted = [i for i in res]
  sorted.sort()

  #Retrieve top 25
  top_25 = sorted[-25:]

  ids = []
  for i in top_25:
    id = np.where(res == i)
    ids.append(id[0][0])

  #Store list with country's 25 recommended songs' ids
  rec_per_country[c] = list(tmp.iloc[ids,-1]) 

  #Store the similarity values for those recommended songs - useful for the csv creation later
  sim_per_country.append(top_25)

sim_per_country = list(itertools.chain(*sim_per_country))

### Mapping song ids to Title and Artists

In [ ]:
import requests

AUTH_TOKEN = 'BQB6MYY3fUc9B3c8JRSvU9uOze8-yDF3JMS-LgBy4uEQ9Uh5MHF4d5shOCZVIscc2JkYZyEF968xalhjzITx9FOSzZZyldy_JAzQ_OXiYwqzSCn73-scmQlZTHvjI9t4CoJOGyPWDmhMQ-UWpZJwLlQLodgLK9I_usZ6KDezPAMn89w'
headers = {"Authorization": "Bearer {}".format(AUTH_TOKEN)}

def connect_to_endpoint(url, headers):
    response = requests.request("GET", url, headers=headers)
    #print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()

def parse_song_ids(song_ids):
  song_ids = ','.join(song_ids)
  url = f'https://api.spotify.com/v1/tracks?ids={song_ids}'
  response = requests.get(url,
      headers = {
            'Authorization': f'Bearer {AUTH_TOKEN}'
        }        
    )
  json_response = response.json()['tracks']

  return json_response

In [ ]:
#Create the empty dataframe
tmp = pd.DataFrame()
for c in countries:
  res = parse_song_ids(rec_per_country[c])
  for track in res:
    artist_list = []
    artists =  track['album']['artists']
    for a in artists:
      artist_list.append(a['name'])
    song_title =  track['name']
    artists = ', '.join(artist_list)
    song_vector = pd.DataFrame([c, song_title, artists]).transpose()
    tmp = pd.concat([tmp, song_vector ], axis = 0)

tmp.columns = ['Country', 'Song Title', 'Artists']

In [ ]:
tmp['Similarity'] = sim_per_country
tmp

,Country,Song Title,Artists,Similarity
0,Global,Fingers Crossed,Lauren Spencer Smith,0.590744
0,Global,Right Here Waiting,Richard Marx,0.591008
0,Global,Unholy (feat. Kim Petras),"Sam Smith, Kim Petras",0.591178
0,Global,Love Is Gone - Acoustic,"SLANDER, Dylan Matthew",0.593878
0,Global,What A Time (feat. Niall Horan),Julia Michaels,0.594564
...,...,...,...,...
0,EAU,Paradise,Coldplay,0.786488
0,EAU,Car's Outside,James Arthur,0.803884
0,EAU,A Sky Full of Stars,Coldplay,0.814892
0,EAU,The Astronaut,JIN,0.822876
0,EAU,Die For You,Joji,0.872208

In [ ]:
tmp.to_csv('/content/drive/MyDrive/Colab Notebooks/WebAnalytics/Spotify/country_recs.csv', index = False)

# Obtain the information of artist/song of the top 50

In [ ]:
def parse_playlist(playlist):
    playlist_dict = {}
    print(playlist[0])
    for i in playlist:
        song = i['track']['name']
        id_ = i['track']['id']
        artists = i['track']['artists']
        
        #playlist_dict[id_] = {'name': song}
        playlist_dict[id_] = {'name': song, 'artists': artists}  # necesario para lyrics en genius
    return playlist_dict

In [ ]:
def retrieve_songs(playlist_id):
    """
    retrieve the information of the songs of the playlists
    """

    song_ids = []
    url = f'https://api.spotify.com/v1/playlists/{playlist_id}/tracks?fields=items(track(name,id,artists(name)))'
    response = requests.get(url,
        headers = {
            'Authorization': f'Bearer {AUTH_TOKEN}'
        }        
    )
    
    json_response = response.json()

    res = json_response['items']            
    for song in res:
      try:
        song_ids.append(song['track'])
      except:
        pass

    return song_ids

In [ ]:
#@title playlist dict

playlists_tops = {'Global': '37i9dQZEVXbMDoHDwVN2tF',
 'Taiwán': '37i9dQZEVXbMnZEatlMSiu',
 'Turquía': '37i9dQZEVXbIVYVBNw9D5K',
 'Reino Unido': '37i9dQZEVXbLnolsZ8PSNw',
 'Dinamarca': '37i9dQZEVXbL3J0k32lWnN',
 'España': '37i9dQZEVXbNFJfN1Vw8d9',
 'Finlandia': '37i9dQZEVXbMxcczTSoGwZ',
 'Francia': '37i9dQZEVXbIPWwFssbupI',
 'Los Países Bajos': '37i9dQZEVXbKCF6dqVpDkS',
 'Noruega': '37i9dQZEVXbJvfa0Yxg7E7',
 'Suecia': '37i9dQZEVXbLoATJ81JYXz',
 'Estados Unidos': '37i9dQZEVXbLRQDuF5jeBp',
 'Austria': '37i9dQZEVXbKNHh6NIXu36',
 'Suiza': '37i9dQZEVXbJiyhoAPEfMK',
 'Bélgica': '37i9dQZEVXbJNSeeHswcKB',
 'Alemania': '37i9dQZEVXbJiZcmkrIHGU',
 'Nueva Zelanda': '37i9dQZEVXbM8SIrkERIYl',
 'Australia': '37i9dQZEVXbJPcfkRz0wJ0',
 'Irlanda': '37i9dQZEVXbKM896FDX8L1',
 'Luxemburgo': '37i9dQZEVXbKGcyg6TFGx6',
 'Italia': '37i9dQZEVXbIQnj7RRhdSX',
 'Polonia': '37i9dQZEVXbN6itCcaL3Tt',
 'Portugal': '37i9dQZEVXbKyJS56d1pgi',
 'Hong Kong': '37i9dQZEVXbLwpL8TjsxOG',
 'Malasia': '37i9dQZEVXbJlfUljuZExa',
 'Singapur': '37i9dQZEVXbK4gjvS1FjPY',
 'Estonia': '37i9dQZEVXbLesry2Qw2xS',
 'Islandia': '37i9dQZEVXbKMzVsSGQ49S',
 'Lituania': '37i9dQZEVXbMx56Rdq5lwc',
 'Letonia': '37i9dQZEVXbJWuzDrTxbKS',
 'México': '37i9dQZEVXbO3qyFxbkOE1',
 'Argentina': '37i9dQZEVXbMMy2roB9myp',
 'Brasil': '37i9dQZEVXbMXbN3EUUhlg',
 'Colombia': '37i9dQZEVXbOa2lmxNORXQ',
 'Marruecos': '37i9dQZEVXbJU9eQpX8gPT',
 'Japón': '37i9dQZEVXbKXQ4mDTEBXq',
 'Chile': '37i9dQZEVXbL0GavIqMTeb',
 'Perú': '37i9dQZEVXbJfdy5b0KP7W',
 'Paraguay': '37i9dQZEVXbNOUPGj7tW6T',
 'Ucrania': '37i9dQZEVXbKkidEfWYRuD',
 'Corea del Sur': '37i9dQZEVXbNxXF4SkHj9F',
 'La República Dominicana': '37i9dQZEVXbKAbrMR8uuf7',
 'Canadá': '37i9dQZEVXbKj23U1GF4IR',
 'India': '37i9dQZEVXbLZ52XmnySJg',
 'Rumanía': '37i9dQZEVXbNZbJ6TZelCq',
 'Uruguay': '37i9dQZEVXbMJJi3wgRbAy',
 'Russia': '1IMY26ZqjwICaPzZGa1Lwf',
 'Ecuador': '37i9dQZEVXbJlM6nvL1nD1',
 'Grecia': '37i9dQZEVXbJqdarpmTJDL',
 'Filipinas': '37i9dQZEVXbNBz9cRCSFkY',
 'Bolivia': '37i9dQZEVXbJqfMFK4d691',
 'Arabia Saudí': '37i9dQZEVXbLrQBcXqUtaC',
 'Bulgaria': '37i9dQZEVXbNfM2w2mq1B8',
 'Honduras': '37i9dQZEVXbJp9wcIM9Eo5',
 'Tailandia': '37i9dQZEVXbMnz8KIWsvf9',
 'Egipto': '37i9dQZEVXbLn7RQmT5Xv2',
 'Panamá': '37i9dQZEVXbKypXHVwk1f0',
 'Israel': '37i9dQZEVXbJ6IpvItkve3',
 'Costa Rica': '37i9dQZEVXbMZAjGMynsQX',
 'Hungría': '37i9dQZEVXbNHwMxAkvmF8',
 'Nicaragua': '37i9dQZEVXbISk8kxnzfCq',
 'Indonesia': '37i9dQZEVXbObFQZ3JLcXt',
 'Sudáfrica': '37i9dQZEVXbMH2jvi6jvjk',
 'El Salvador': '37i9dQZEVXbLxoIml4MYkT',
 'Vietnam': '37i9dQZEVXbLdGSmz6xilI',
 'Suriname': '6zFJ2HTXC3d38AgpfcPGph',
 'La República Checa': '37i9dQZEVXbIP3c3fqVrJY',
 'Guatemala': '37i9dQZEVXbLy5tBFyQvd4',
 'Eslovaquia': '37i9dQZEVXbKIVTPX9a2Sb',
 'EAU': '37i9dQZEVXbM4UZuIrvHvA'}

In [ ]:
import requests

AUTH_TOKEN = 'BQAA8BE-agfBxY70VL92783JPNDtQcYQlJpMDBylWprdWh6-9eO7O-KNw7zxfqPGiiW982oryFscZSrpfBQlmJcxaXuH7axR65l_jV74aJWv4rTHimqG4fFrKqhUN0ZadTdIMYT0tn5yVdX8eIy5VTjj7Kw1tbL7PMU5_gsJV_g0JPuZTWXIcMYCfiEbnA4'
headers = {"Authorization": "Bearer {}".format(AUTH_TOKEN)}


tmp = pd.DataFrame()
for k in list(playlists_tops.keys()):
  id = playlists_tops[k]

  res = retrieve_songs(id)

  for track in res:
    artists =  track['artists']
    #We will only keep the main artist!
    for a in artists[:1]:
      artist= a['name']
    
    song_title =  track['name']
    
    song_vector = pd.DataFrame([k, song_title, artist]).transpose()
    tmp = pd.concat([tmp, song_vector ], axis = 0)

tmp.columns = ['Country', 'Song Title', 'Artists']

In [ ]:
tmp

   Country                             Song Title        Artists
0   Global              Unholy (feat. Kim Petras)      Sam Smith
0   Global                              Anti-Hero   Taylor Swift
0   Global                             La Bachata  Manuel Turizo
0   Global                              As It Was   Harry Styles
0   Global                              Rich Flex          Drake
..     ...                                    ...            ...
0      EAU                              Shut Down      BLACKPINK
0      EAU                        Blinding Lights     The Weeknd
0      EAU                             Lift Me Up        Rihanna
0      EAU  Pussy & Millions (feat. Travis Scott)          Drake
0      EAU                              Calm Down           Rema

[3496 rows x 3 columns]

In [ ]:
tmp.to_csv('/content/drive/MyDrive/Colab Notebooks/WebAnalytics/final/topSongs_info.csv', index = False)